.availability-item .availability_stash .quantity {
    width: 30px;
}
.availability-item .availability_stash input[type="number"] {
    /* Copy from #fitem_id_availabilityconditionsjson input[type=text]. */
    position:relative;
    top: 4px;
}
